.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: 'Courier New', sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: 'Courier New', sans-serif;
  color: hsl(0, 0%, 40%);
}

.card .card-capacity{
  font-family: 'Courier New', sans-serif;
  color: hsl(0, 0%, 40%);
}

.increment-decrement {
  display: flex;
  justify-content: space-evenly;
}

.per-unit {
  color: black;
}

.increment {
  background-color: hsl(218, 78%, 47%);
}

.decrement {
  background-color: hsl(180, 56%, 73%);
}