* {
    margin: 0;
    padding: 0;
}

.container {
    max-height: 50%;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.container .meals-container {
    display: grid;
    width: 40%;
    font-family: 'Courier New', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: hsl(0, 0%, 10%);
}

.meals-container .customer {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
}

.meals-container .meals-one, .meals-two {
    display: flex;
    justify-content: space-evenly;
}

.container-subtotal{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 1.5em;
  color: hsl(0, 0%, 10%);
}

form {
    background-color: blue;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.product-table {
    margin: auto;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid hsl(0, 0%, 10%);
    border-collapse: collapse;
    font-family: 'Courier New', sans-serif;
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: hsl(0, 0%, 10%);
    z-index: 999;
}

.modal {
    background-color: white;
    border-radius: 20px;
    padding: 2em;
    width: 50%;
    z-index: 1000;
}

.close {
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    font-size: 2em;
}

.detail-title, .detail-total {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}
