.navbar {
    width: 100%;
}

.navbar h3 {
    font-size: 1.7em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #5D3FD3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul h3 {
    margin: 0;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.product-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #5D3FD3;
    max-width: 30%;
    padding: 10px;
    border-radius: 15px;
}